@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

:root {
  --primary-clr: #fff;
  --primary-orange: #f9ab00;
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
  --primary-blue: #264853;
  --primary-green: #417B5A;
  --card2: #BA5AED;
  --card1: #23D1D9;
}

.title {
  text-align: center;
  margin: 50px 0px;
  font-size: 2.5rem;
  color: white;
  font-family: 'Jura', sans-serif;
  font-weight: bold;
}


/* NAVBAR */


.navbar-bg {
  position: relative;
  z-index: 99;
  font-size: 20px;
}

/* Menu Links */

.nav-link {
  font-family: 'Jura', sans-serif;
  font-weight: 700;
  letter-spacing: 0.0475rem;
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--primary-clr);
  margin-left: 2rem; 
  
}

.navbar-toggler {
  background-color: white !important;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: var(--primary-orange) !important;
}

.active {
  color: var(--primary-orange) !important;
}



#responsive-navbar-nav {
  text-transform: uppercase;
}

.nav-link.active,
.nav-link:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}


@media screen and (max-width: 992px) {

  .nav-link.active,
  .nav-link:focus {
    border-top: 0;
  }

}

@media screen and (max-width: 500px) {
  nav a.nav-link {
    font-size: 1rem;
    padding: 0.325rem;
  }

}

/*  intro */

.intro-wrapper {
  position: relative;
  background: url(./images/background.jpg);  
  background-size: cover;
  background-position: center;
  height: 90vh;
  margin-top: 100px;  
}

.intro-bg {
  position: relative;
  background: rgba(0, 0, 0, 0.6);
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-info h1 {
  color: var(--primary-orange);
  text-transform: capitalize;
}

.typed-text {
  color: white;
}

.btn-contact {
  border: 1px solid var(--primary-red);
  text-transform: capitalize;
  border-radius: 0;
  padding: 0.75rem;
  color: var(--primary-clr);
  margin: 2rem;
  padding: 1rem;
  background-color: var(--primary-red);
  font-size: 1.1rem;
  font-weight: bold;
}

.btn-contact:hover {
  background-color: var(--primary-hover-red);
}


#tsparticles {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* PROJECTS */
.projects {
  position: relative;
  max-width: 1450px;
  margin: 0 auto;
  min-height: 90vh;
  z-index: 2;
  background-size: contain;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 40px;  
}

.dark-bg {
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 90px;
}

.project-container {
  position: relative;  
  z-index: 2;
  background: url('./images/background-code.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;  
}

.project-container h2 {
  position: relative;
  z-index: 2;
  text-transform: capitalize;
  text-align: center;
  padding: 2rem;
  margin-bottom: 0;
  font-size: 3rem;
  letter-spacing: .4rem;
  font-family: 'Jura', sans-serif;
  font-weight: bold;
  color: white;
}


/* TIME LINE */

.timeline-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 40px 0;  
}

.timeline-container::after {
  background-color: var(--primary-orange);
  content: '';
  position: absolute;
  left: calc(50% - 2px);
  width: 4px;
  height: 100%;
}

.timeline-item {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  position: relative;
  margin: 10px 0;
  width: 50%;
  
}

.timeline-item:nth-child(odd) {
  align-self: flex-end;
  justify-content: flex-start;
  padding-left: 30px;
  padding-right: 0;
}

.timeline-item-content {
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 15px;
  position: relative;
  width: 400px;
  max-width: 70%;
  text-align: right;  
}

.timeline-item-content::after {
  content: ' ';
  background-color: #fff;
  box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: -7.5px;
  top: calc(50% - 7.5px);
  transform: rotate(45deg);
  width: 15px;
  height: 15px;
}

.timeline-item:nth-child(odd) .timeline-item-content {
  text-align: left;
  align-items: flex-start;
}

.timeline-item:nth-child(odd) .timeline-item-content::after {
  right: auto;
  left: -7.5px;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.timeline-item-content .tag {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  top: 5px;
  left: 5px;
  letter-spacing: 1px;
  padding: 5px;
  position: absolute;
  text-transform: uppercase;
}

.timeline-item:nth-child(odd) .timeline-item-content .tag {
  left: auto;
  right: 5px;
}

.timeline-item-content time {
  color: #777;
  font-size: 12px;
  font-weight: bold;
}

.timeline-item-content p {
  font-size: 22px;
  line-height: 24px;
  margin: 15px 0;
  
}

.timeline-item-content a {
  font-size: 14px;
  font-weight: bold;
}

.timeline-item-content a::after {
  content: ' ►';
  font-size: 12px;
}

.timeline-item-content .circle {
  background-color: #fff;
  border: 3px solid var(--primary-orange);
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 10px);
  right: -40px;
  width: 20px;
  height: 20px;
  z-index: 100;
}

.timeline-item:nth-child(odd) .timeline-item-content .circle {
  right: auto;
  left: -40px;
}

@media only screen and (max-width: 1023px) {
  .timeline-item-content {
    max-width: 100%;
  }
}

@media only screen and (max-width: 767px) {

  .timeline-item-content,
  .timeline-item:nth-child(odd) .timeline-item-content {
    padding: 15px 10px;
    text-align: center;
    align-items: center;
    width: 90%;
  }

  .timeline-item-content .tag {
    width: calc(100% - 10px);
    text-align: center;
  }

  .timeline-item-content time {
    margin-top: 20px;
  }

  .timeline-item-content a {
    text-decoration: underline;
  }

  .timeline-item-content a::after {
    display: none;
  }

  .timeline-item-content p {
    font-size: 18px;
  }
}

.aboutme {
  position: relative;
  z-index: 2;
  background-image: linear-gradient(45deg, #605F5D, #002A32 );  
  padding: 50px 0px;  
}

.aboutme h2 {
  position: relative;
  z-index: 2;
  text-transform: capitalize;
  text-align: center;
  padding: 2rem;
  margin-bottom: 0;
  font-size: 3rem;
  letter-spacing: .4rem;
  font-family: 'Jura', sans-serif;
  font-weight: bold;
  color: white;
}

.contact {  
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 50vh;
  z-index: 2;
  padding: 50px 0px;  
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(33, 37, 41, 0.900);
}


.contact h2 {
  position: relative;
  z-index: 2;
  text-transform: capitalize;
  text-align: center;  
  font-size: 3rem;
  letter-spacing: .4rem;
  margin-bottom: 50px;
  font-family: 'Jura', sans-serif;
  font-weight: bold;
  color: white;
}


.contact-content {  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  
}

.contact-content div {
  margin: 10px 30px;
}

.contact-content a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 22px;
  letter-spacing: 1px;
}

.contact-content a:hover {
  color: var(--primary-orange);
}

.iconlinkedin,
.icongithub,
.iconemail {
  font-size: 35px;  
  margin: 7px 0px;
}


.emailp {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

/* CARD */


#cardLayout {
  position: relative;
  width: 320px;
  height: 470px;
  color: #fff;
  background: #111;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 20px 10px;
  transition: 0.5s;
  z-index: 2;
}


#cardLayout::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(315deg, var(--card1), var(--card2));
}

#cardLayout::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(315deg, var(--card1), var(--card2));
  filter: blur(30px);
}

#cardLayout span {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

#cardLayout span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

#cardLayout .content {
  position: relative;
  z-index: 10;
  padding: 10px 30px;

}

#cardLayout .content h2 {
  font-size: 1.6em;
  color: #fff;
  margin: 10px 0px;
}

#cardLayout .content p {
  font-size: 1.1em;
  color: #fff;
  margin-bottom: 10px;
  line-height: 1.4em;
}

#cardLayout .content a {
  display: flex;
  font-size: 1.1em;
  color: #111;
  background: #fff;
  padding: 10px;
  text-decoration: none;
  font-weight: 700;
  justify-content: center;
  border-radius: 7px;
  margin-top: 5px;
}


#cardLayout .content img {
  opacity: 1;
}

#cardLayout .content a:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.445);
}


#cardLayout .content:hover {
  opacity: 1;
  transition: 0.4s ease-in;
}

/* FOOTER */

.footer {
  position: relative;
  z-index: 2;
  padding: 30px;
  background-color: rgba(33, 37, 41, 0.900);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 5px solid grey;  
}

.footer p {
  margin: 4px;
  letter-spacing: 1.5px;
  
}


/* CONTACT FORM*/

.form-contact {
  display: flex;
  flex-direction: column;
  width: 270px;
}

.form-contact label {
  color: white;
  margin-top: 10px;  
}

.form-contact textarea, .form-contact input {
  font-weight: 100;
  letter-spacing: 1.2px;
  resize: none;
}

.form-contact button {
  margin-top: 10px;
}

.form-contact button:hover {
  background-color: var(--primary-orange);
}

.return-p-msg {
  color: white;
  text-align: center;
}